/* Meu Reset CSS */
* {
    font-size: 16px;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}
/* Fim Reset CSS */

body {
    background-color: #0b1220;
    color: #f3f4f6;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    overflow: hidden;
}

a {
    color: inherit;
    transition: .3s ease;
}

.container {
    width: min(1200px, 92vw);
    margin-inline: auto;
}


/* HEADER */

.header-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
}

.header-group img {
    padding: 2rem 0 4rem;
}
.nav-ul {
    display: flex;
    flex-direction: column;

    gap: 2.5rem;
}