@use 'variaveis' as v;

@mixin btn-primary {
  display: inline-block;
  background-color: v.$primary-color;
  color: v.$white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.2s;
}

@mixin img-responsiva {
  max-width: 100%;
  height: auto;
  display: block;
}

@mixin mq-desktop($breakpoint: v.$breakpoint-tablet) {
  @media (min-width: $breakpoint) {
    @content;
  }
}