// Cores
$primary-color: #6c5ce7;
$secondary-color: #a29bfe;
$dark-bg: #2d3436;
$light-bg: #dfe6e9;
$text-color: #333;
$white: #ffffff;

// Tipografia
$font-base: 'Poppins', sans-serif;
$font-size: 16;

// Layout
$header-height: 70px;

// Z-index
$z-header: 1000;
$z-menu-btn: 1001;

$break-md: 768px;